<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a new Customer</title>
  <link rel="stylesheet" href="MyCSS.css">
</head>
<body>

<h1>Add a new Customer</h1>
<form action="/make" method="post">
  <div class="form-group">
    <label>Customer's Id</label>
    <input type="text" name="customer_Id">
  </div>

  <div class="form-group">
    <label>Customer's name</label>
    <input type="text" name="customer_name">
  </div>

  <div class="form-group">
    <label>Customer's address</label>
    <input type="text" name="customer_address">
  </div>

  <div class="form-group">
    <label>Zip code</label>
    <input type="text" name="zip_code">
  </div>

  <div class="form-group">
    <label>City</label>
    <input type="text" name="city">
  </div>

  <div class="form-group">
    <label>Country</label>
    <input type="text" name="country">
  </div>

  <div class="form-group">
    <label>Mobil Number</label>
    <input type="text" name="mobil_nr">
  </div>

  <div class="form-group">
    <label>E-mail</label>
    <input type="text" name="email">
  </div>

  <div class="form-group">
    <label>Driver's Licence Number</label>
    <input type="text" name="driversLicence_Nb">
  </div>

  <div class="form-group">
    <label>Driver since</label>
    <input type="date" name="driver_since">
  </div>

  <div class="submit-button-container">
    <a href="/">
      <button class="btn">Submit</button>
    </a>
  </div>

</form>

<div class="return-button-container">
  <a href="/">
    <button class="btn" id="btn-home">Return to Home Page</button>
  </a>
</div>

<div class="return-button-container">
  <a href="/homeCustomers/indexCustomers">
    <button class="btn" id="btn-customers-home">Return to the customers Home Page</button>
  </a>
</div>

</body>
</html>