<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit and update a car</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>edit and update a car</h1>

<form action="/updateCar" method="post">
    <input type="text" name="Brand" th:value="${c.brand}">
    <input type="text" name="Model" th:value="${c.model}">
    <input type="date" name="First registration date" th:value="${c.firstRegistrationDate}">
    <input type="text" name="Odometer" th:value="${c.odometer}">
    <input type="text" name="Description of the car" th:value="${c.description_of_the_car}">
    <input type="submit" value="Save changes">
</form>


<div class="return-button-container">
    <a href="/">
        <button class="btn" id="btn-return">Return to Home Page</button>
    </a>
</div>

</body>
</html>