<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit and update a car</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>

<h1>edit and update a car</h1>

<form action="/updateCar" method="post">
    <input type="text" name="regNB" th:value="${c.regNB}">
    <input type="text" name="car_Id" th:value="${c.car_Id}">
    <input type="text" name="brand" th:value="${c.brand}">
    <input type="text" name="model" th:value="${c.model}">
    <input type="date" name="firstRegistrationDate" th:value="${c.firstRegistrationDate}">
    <input type="text" name="odometer" th:value="${c.odometer}">
    <input type="text" name="description_of_the_car" th:value="${c.description_of_the_car}">
    <input type="submit" value="Save changes">
</form>


<div class="return-button-container">
    <a href="/">
        <button class="btn" id="btn-home">Return to Home Page</button>
    </a>
</div>

<div class="return-button-container">
    <a href="/homeCar/indexCar">
        <button class="btn" id="btn-cars-home">Return to the cars Home Page</button>
    </a>
</div>

</body>
</html>