<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car Rental</title>
    <link rel="stylesheet" href="MyCSS.css">
</head>

<body>

  <h1>Welcome to Kailua Car Rental</h1>

  <img src="CarRental.jpg" alt="Car Rental Image">

  <h2>Please choose from these options:</h2>

  <div class="image-link-container">
      <div class="image-link">
          <a href="homeCustomers/indexCustomers"><img src="contacts.jpg" alt="Customers"></a>
          <p>Click on the picture</p>
          <p>to go to the customers page</p>
      </div>

      <div class="image-link">
          <a href="home/indexContracts"><img src="contracts.jpg" alt="Contacts"></a>
          <p>Click on the picture</p>
          <p>to go to the contracts page</p>
      </div>

      <div class="image-link">
          <a href="homeCar/indexCar"><img src="cars.jpg" alt="Cars"></a>
          <p>Click on the picture</p>
          <p>to go to the cars page</p>

      </div>
  </div>

</body>
</html>