<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car Rental</title>
    <link rel="stylesheet" href="style.css"> </head>
</head>
<body>

  <h1>Welcome to Kailua Car Rental</h1>

  <img src="CarRental.jpg" alt="Car Rental Image">
  <p>Please choose from these options:</p>
  <ul>
    <li><a href="homeCustomers/indexCustomers">Go to Customer Page</a></li>
    <li><a href="home/indexContracts">Go to Contracts Page</a></li>
    <li><a href="homeCar/indexCar">Go to Cars Page</a></li>
  </ul>

</body>
</html>